.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right red,blue);
    background-image: linear-gradient(to bottom right red,blue,green);
}
.mydiv{
    border: solid black;
    margin: 10px;
    height: 300px;
    background-image: radial-gradient(red, blue);
}


